@font-face {
    font-family: 'PFBagueSansPro-Light';
    src: url("../fonts/PFBagueSansPro-Light.otf");
}

* {
    font-family: "PFBagueSansPro-Light";
    box-sizing: border-box;
}

body {
    background-color: #F2F2F7;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.button {
    width: 165px;
    height: 40px;
    background-color: rgb(61, 151, 61);
    color: white;
}

.button:hover {
    background-color: rgb(4, 94, 4);
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.list {
    padding-left: 0;
}

.list li {
    padding-top: 10px;
    padding-bottom: 7px;
}


/*----------------------*/


/*--------header--------*/

.header {
    background-color: #383745;
    color: white;
}

.head-cont {
    padding-top: 11px;
    padding-bottom: 18px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
}

.head-item {
    padding-top: 12px;
    padding-bottom: 9px;
}

.navbar {
    padding: 0;
    color: black;
}

.nav-link {
    padding: 0;
}

.nav-item {
    border-bottom: 3px solid white;
    padding-bottom: 4px;
    padding-top: 4px;
}

.nav-item:hover {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-toggler {
    margin: 15px;
}

.active {
    border-bottom: 3px solid rgb(4, 94, 4);
}


/*----------------------*/


/*---------Main---------*/

main {
    background: url(../img/road2.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
}

#warsaw {
    border-radius: 45px;
    animation: spinner 9s infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(360deg);
        background-color: rgb(150, 172, 245);
    }
    50% {
        transform: rotate(-360deg);
        background-color: rgb(88, 110, 231);
    }
    75% {
        transform: rotate(-360deg);
        background-color: rgb(90, 245, 160);
    }
    to {
        transform: rotate(0);
        background-color: rgb(159, 241, 196);
    }
}

.first-section {
    background-color: rgba(236, 233, 233, 0.925);
    width: 100%;
}

.white-strip h1 {
    color: rgb(14, 14, 131);
}

.white-strip h2 {
    color: rgb(4, 94, 4);
}

.logo {
    margin-top: 100px;
    height: 15%;
}

#warsaw {
    width: 50%;
}

.white-strip {
    font-family: 'PFBagueSansPro-Light';
    
}


/*----------------------*/


/*---------first---------*/

.about_us {
    padding-top: 4%;
}

h2 {
    color: rgb(14, 14, 131);
}

.description>span,
.description>span+p {
    font-family: 'PFBagueSansPro-Light';
    font-size: 16px;
}

ol li {
    font-family: 'PFBagueSansPro-Light';
    font-size: 14pt;
    list-style-type: square;
    margin-bottom: 20px;
}

ol li:nth-child(2n+1) {
    color: rgb(4, 94, 4);
}

ol li:nth-child(2n) {
    color: rgb(14, 14, 131);
}

[name^="m"] {
    width: 100%;
    padding-top: 12%;
}


/*----------------------*/


/*---------third---------*/

.third-section {
    padding: 2% 0;
    color: rgb(236, 232, 232);
    font: 16px 'PFBagueSansPro-Light';
    background: url(../img/fon1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 65%;
}

#order {
    color: rgb(14, 14, 131);
    font-size: 20px;
}

.instagram {
    background-color: rgb(225, 226, 228);
    border-radius: 29%;
    margin-top: 1%;
}

.facebook {
    background-color: rgb(225, 226, 228);
    border-radius: 9%;

}

.instagram:hover {
    background-color: rgba(61, 151, 61, 0.87);
}

.facebook:hover {
    background-color: rgba(61, 151, 61, 0.87);
}

[name^='user'] {
    border-radius: 5px;
}

#btn_form {
    margin-top: 2%;
}

[type^="my"] {
    border: 1px solid rgb(14, 14, 131);
    color: rgb(231, 234, 241);
    background-color: rgba(61, 151, 61, 0.87);
    padding: 2% 2%;
    text-transform: uppercase;
    font: 600 14px monospace;
    border-radius: 6px;
    transition-timing-function: ease;
    transition: background-color .5s, color .5s, font-size .5s, transform 1s;
}

[type^="my"]:hover {
    color: rgba(61, 151, 61, 0.87);
    background-color: rgb(14, 14, 131);
    font-size: 14px;
    transform: rotate(360deg) scale(0.9, 1.5)
}

.love {
    height: 50px;
}

#data p {
    padding: 0;
    margin: 0;
}

#int {
    color: rgb(14, 14, 131);
    padding: 0;
    margin: 0;
}

#with:before {
    content: '->';
    color: white;
}

#by:before {
    content: '->';
}


/*----------------------*/


/*--------footer--------*/

footer {
    background-color: #383745;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer div a {
    color: white;
    text-decoration: none;
}